<a href="https://colab.research.google.com/github/isabellasims/Genetic-algorithm/blob/master/Learning_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#!pip install codecademylib
import pandas as pd

Data Frame = object that stores data as rowes and columns
  - Each column as a name which is a string 
  - Each row has an index which is an integer

pd.DataFrame()
  - you can pass in dictionaries as dfs to pd.DataFrame()
  - keys = column names
  - values = list of column values
    - all columns must be the same length

**creating a df with dictionary**

In [3]:
# creates a DataFrame called df1: 
df1 = pd.DataFrame({
    'name': ['John Smith', 'Jane Doe', 'Joe Schmo'],
    'address': ['123 Main St.', '456 Maple Ave.', '789 Broadway'],
    'age': [34, 28, 51]
})
print(df1)

         name         address  age
0  John Smith    123 Main St.   34
1    Jane Doe  456 Maple Ave.   28
2   Joe Schmo    789 Broadway   51

**Creating a df with lists**

In [13]:
#df2 = pd.DataFrame(['John',34],['Jane',38], columns=['name','age'])
df2 = pd.DataFrame([
    ['John Smith',34],
    ['Jane Doe', 28]], columns=['name','age'])
print(df2)

         name  age
0  John Smith   34
1    Jane Doe   28